<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment</title>
    <link rel="stylesheet" href="./css/comment/comment.css">
    <link rel="stylesheet" href="./css/comment/commentstore.css">
</head>

<body>
    <div class="wrapper">
        <div class="comment-container">
            <div class="comment-bar">
                <div class="comment-input">
                    <input name="comment" id="comment-input" placeholder="Place a comment">
                    <!-- <input type="text" placeholder="Place a comment"> -->
                    <!-- <textarea name="" id="" placeholder="Place a comment"></textarea> -->
                    <div class="button">
                        <div class="cancel">
                            <button class="cancel-commit">Cancel</button>
                        </div>
                        <div class="save">
                            <button class="save-comment">Save</button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="comment-store">
                <div class="local-store">
                    <!-- <div class="comment-box">
                        <div class="comment-header">
                            <span class="comment-span"></span>
                            <span class="comment-title"></span>
                        </div>
                        <div class="comment-info">
                            <span class="info-comment"></span>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
    </div>
</body>
<script type="module" src="./js/comment/comment.js"></script>
<script type="module" src="./js/comment/save.js"></script>
<script type="module" src="./js/comment/elements.js"></script>
<script type="module" src="./js/comment/storage.js"></script>
<script type="module" src="./js/comment/display.js"></script>

</html>