<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/section.css">
    <link rel="stylesheet" href="./css/feeds.css">
    <link rel="stylesheet" href="./css/history.css">
    <link rel="stylesheet" href="./css/comment.css">
    <link rel="stylesheet" href="../../assests/css/loader.css">
    <link rel="stylesheet" href="../../assests/css/toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <!-- Toast Component -->
        <div class="main-toast">
            <div class="toast-field">
                <div class="toast-icon">
                    <i class="fa-solid fa-triangle-exclamation" id="icon-danger"></i>
                </div>
                <div class="toast-info">
                    <!-- <span class="toast-header">Error!</span>
                            <span class="toast-message">Invalid User or Password</span> -->
                </div>
            </div>
            <div class="cross-icon">
                <i class="fa-solid fa-xmark" id="icon-cross"></i>
            </div>
        </div>
        <div class="container">
            <div class="header">
                <div class="product">
                    <div class="product-icon">
                        <img src="./img/b.png" alt="Img" id="icon">
                        <!-- <span id="icon">Icon</span> -->
                    </div>
                    <div class="product-name">
                        <span>ABL</span>
                    </div>
                </div>

                <div class="product-search">
                    <i class="fa-solid fa-magnifying-glass" id="search-icon"></i>
                    <input type="search" placeholder="Search Reddit" class="search-input">
                </div>

                <div class="product-username">
                    <div class="user-box">
                    </div>
                    <div class="user-image">
                        <span class="user-first"></span>
                    </div>
                </div>
            </div>

            <div class="section">
                <div class="navbar">
                    <div class="home">
                        <i class="fa-solid fa-house" id="fa-house"></i>
                        <span>Home</span>
                    </div>
                    <div class="popular">
                        <i class='fa-solid fa-arrow-up-right-from-square'></i>
                        <span>Popular</span>
                    </div>
                    <div class="explore">
                        <i class="fa-solid fa-face-smile"></i>
                        <span>Explore</span>
                    </div>
                    <div class="feed">
                        <i class="fa-solid fa-signal"></i>
                        <span>Feed</span>
                    </div>
                </div>

                <div class="main-section">
                    <div class="feeds">
                        <div class="main-feeds">
                            <h4>New Feeds</h4>
                            <!-- <div class="headline">
                                <div class="topic">
                                    <div class="topic-body">
                                        <span class="span-back">A</span>
                                        <span class="topic-content">r/DamnThat'sInteresting</span>
                                    </div>
                                    <div class="topic-icon">
                                        <i class="fa fa-ellipsis"></i>
                                    </div>
                                </div>
                                <div class="content">
                                    <span class="content-title">Manchester United </span>
                                    <span class="content-title"></span>
                                    <img class="content-img" src="./img/man.jpg" alt="">
                                </div>
                                <div class="footer">
                                    <div class="footer-content" id="footer-content">
                                        <i class="fa-solid fa-arrow-up" id="arrow-up"></i>
                                        <span class = "arrow-span" id="arrow-span">100</span>
                                        <i class='fas fa-arrow-down' id="arrow-down"></i>
                                    </div>
                                    <div class="comment-content">
                                        <i class="fa-solid fa-comment"></i>
                                        <span class="comment-count">0</span>
                                    </div>
                                </div>
                                <div class="comment-container">
                                    <div class="comment-input">
                                        <input type="text" placeholder="Enter a comment">

                                        <div class="comment-buttons">
                                            <button class="save-button">Save</button>
                                            <button class="cancel-button">Cancel</button>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        <div class="comment-topic">
                                            <span class="span-logo">A</span>
                                            <span class="span-title">r/Aayush</span>
                                        </div>
                                        <div class="comment-element">
                                            <span class="body-comment">Hello How are You</span>
                                        </div>
                                        <div class="comment-footer">
                                            <div class="comment-arrow">
                                                <i class="fa-solid fa-arrow-up comment-up" id="arrow-up"></i>
                                                <span class="comment-span" id="arrow-span">100</span>
                                                <i class='fas fa-arrow-down comment-down' id="arrow-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="history">
                    <div class="history-post">
                        <div class="posts">
                            <span class="recent">RECENT POSTS</span>
                            <span class="clear">Clear</span>
                        </div>
                        <div class="history-body">
                            <div class="history-head">
                                <span class="history-icon">A</span>
                                <span class="span-content">r/LocalLLaMa</span>
                            </div>

                            <div class="main-history">
                                <p>I have a budget of 40k USD I need to
                                    setup machine to host deepseek r1-...
                                </p>
                            </div>

                            <div class="history-footer">
                                <div class="upvotes">
                                    <div class="upvote-no">
                                        <span>65</span>
                                    </div>
                                    <div class="upvote">
                                        <span>upvotes</span>
                                    </div>
                                </div>

                                <div class="upvote-break">
                                    <span>.</span>
                                </div>

                                <div class="history-comments">
                                    <div class="comment-no">
                                        <span>128</span>
                                    </div>

                                    <div class="comment">
                                        <span>comments</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="loader"></div>
    </div>
</body>
<script type ="module" src="./js/script.js"></script>
<script type="module" src="./js/element.js"></script>
<script type="module" src="./js/users.js"></script>
<script type="module" src="./js/displayreddit.js"></script>
<script type="module" src="./js/feeds-data.js"></script>
<script type="module" src="./js/save.js"></script>
<script type="module" src="./js/history.js"></script>
<script type="module" src="./js/search.js"></script>
<script type="module" src="../../assests/js/loader.js"></script>
<script type="module" src="../../assests/js/toast.js"></script>
</html>