<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="../../assests/css/loader.css">
    <link rel="stylesheet" href="../../assests/css/toast.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <div class="container">
            <div class="container1">
                <img src="/assests/images/Rectangle 2756.png" alt="">
            </div>

            <div class="container2">
                <div class="main-toast">
                    <div class="field">
                        <img src="/assests//images/Avatar-UI-Unicorn-V2.png" alt="">
                        <h3>Invalid Email or Password</h3>
                    </div>
                    <div class="icon">
                        <i class="fa-solid fa-xmark" id="icon-cross"></i>
                    </div>
                </div>
                <div class="main">
                    <div class="header">
                        <img src="/assests/images/Avatar-UI-Unicorn-V2.png" alt="">
                        <h3>UI Unicorn</h3>
                    </div>

                    <div class="section">
                        <div class="main-field">
                            <div class="heading">
                                <h2>Nice to see you again</h2>
                            </div>

                            <div class="fields">
                                <div class="input-fields">
                                    <div class="email-field">
                                        <div class="login">
                                            <label for="Login">Login</label>
                                        </div>

                                        <div class="login-input">
                                            <input type="text" placeholder="Email or Phone Number" class="input-email">
                                        </div>
                                    </div>
                                    <div class="password-field">
                                        <div class="password">
                                            <label for="Password">Password</label>
                                        </div>

                                        <div class="password-input">
                                            <input type="password" placeholder="Enter password" class="input-password">
                                            <!-- <img src="../img/Vector.png" alt=""> -->
                                            <i class="fa-solid fa-eye"></i>
                                        </div>
                                    </div>

                                    <div class="remember-field">
                                        <div class="field-remember">
                                            <div class="icon">
                                                <!-- <img src="../img/Switcher.png" alt=""> -->
                                                <i class="fa-solid fa-toggle-off"></i>
                                                <!-- <i class="fa-solid fa-toggle-on"></i> -->
                                            </div>

                                            <div class="remember">
                                                <span>Remember Me</span>
                                            </div>
                                        </div>
                                        <div class="link">
                                            <a href="#">Forget Password?</a>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="button">
                                <button class="signin">Sign In</button>
                            </div>
                            <div class="signup-field">
                                <button class="signup">
                                    <img src="/assests/images/Google.png" alt="">
                                    <span>Or sign in with Google</span>
                                </button>
                            </div>

                        </div>
                    </div>

                    <div class="footer">
                        <span>Don't have an account?</span>
                        <a href="#">Sign up now</a>
                    </div>
                </div>

                

            </div>

            <div class="loader"></div>
        </div>
</body>

<script type="module" src="./login.js"></script>
<script type="module" src="../../assests/js/loader.js"></script>
<script type="module" src="../../assests/js/toast.js"></script>
<script type="module" src="../../assests/js/session.js"></script>
<script type="module" src="../home/home.js"></script>

</html>