*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 25px;
    background: lightgray;
}

.wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 90vh;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px solid black;
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: wheat;
}

.input-id,
.input-name,
.input-address,
.input-contact{
    margin-bottom: 10px;
    font-size: 5px;
}

input{
    height: 80%;
    width: 90%;
    padding: 5px;
    font-size: medium;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 4px;
}

input::placeholder{
    color: black;
}

.button-fields{
    display: flex;
    justify-content: space-between;
    height: 15%;
    width: 50%;
    /* flex-wrap: wrap; */
    /* border: 2px solid red; */
}

.saveButton{
    background-color: #4CAF50; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.saveButton:hover{
    background-color: #2f7c32;
}


.cancelButton{
    background-color: #ec1919; 
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.cancelButton:hover{
    background-color: #a01010;
}
